[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}

[dev-packages]
sphinx = "*"
"flake8" = "*"
isort = "*"
restructuredtext-lint = "*"
"doc8" = "*"

[requires]
python_version = "3.6"

[scripts]
demo = "make -C demo/"
make = "make -C docs/"
serve = "python -m http.server"
