[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx-revealjs = {editable = true, path = "."}

[dev-packages]
sphinx = "*"
"flake8" = "*"
isort = "*"
restructuredtext-lint = "*"
"doc8" = "*"

[requires]
python_version = "3.6"

[scripts]
demo = "make -C demo/"
make = "make -C docs/ revealjs"
serve = "python -m http.server"
testpypi = "twine upload -r testpypi"
pypi = "twine upload -r pypi"
