[tool.poetry]
name = "sphinx-revealjs"
version = "1.4.0"
description = "Sphinx extension with theme to generate Reveal.js presentation"
authors = ["Kazuya Takei <myself@attakei.net>"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Framework :: Sphinx",
    "Framework :: Sphinx :: Extension",
    "Framework :: Sphinx :: Theme",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Topic :: Documentation :: Sphinx",
    "Topic :: Multimedia :: Graphics :: Presentation"
]
homepage = "https://github.com/attakei/sphinx-revealjs"
repository = "https://github.com/attakei/sphinx-revealjs"
license = "Apache-2.0"
readme = "README.rst"
include = [
    "sphinx_revealjs/themes/sphinx_revealjs/static/revealjs4/**/*",
]

[tool.poetry.dependencies]
python = "^3.6 | ^3.7 | ^3.8 | ^3.9"
docutils = "*"
sphinx = "*"

[tool.poetry.dev-dependencies]
flake8 = "^3.8.4"
flake8-docstrings = "^1.5.0"
flake8-isort = "^4.0.0"
pydocstyle = "^5.1.1"
doc8 = "^0.8.1"
beautifulsoup4 = "^4.9.3"
sphinxcontrib-gtagjs = "^0.2.0"
sphinx-rtd-theme = "^0.5.1"
black = "^20.8b1"
Sphinx = "^3.4.3"
bump2version = "^1.0.1"
pytest = "^6.2.5"

[tool.pytest.ini_options]
addopts = "-ra -q"
testpaths = [
    "tests",
]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
