.reveal .adjust-section-structure {
  font-size: 0.5em;
}
.reveal .flex-container {
  display: flex;
}
.reveal .flex-container .half {
  flex: 1;
  width: 50%;
}
.reveal h1, .reveal h2, .reveal h3 {
  text-transform: none;
}
.reveal code * {
  font-family: monospace;
}
