name: Release new version

on:
  push:
    tags:
      - 'v*.*.*'

env:
  UV_NO_SYNC: 1

jobs:
  # Build and configure package(s)
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.51.2
      - name: Build packages
        run: |
          uv run tools/fetch_revealjs.py
          uv build
      - name: Store filepath
        id: store-filepath
        run: |
          echo ::set-output name=targz::$(basename $(ls dist/*tar.gz))
          echo ::set-output name=wheel::$(basename $(ls dist/*whl))
      - uses: actions/upload-artifact@v5
        with:
          name: dist-packages
          path: dist
    outputs:
      package-targz: ${{ steps.store-filepath.outputs.targz }}
      package-wheel: ${{ steps.store-filepath.outputs.wheel }}
  # Collect information from tagged release
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Check stage from tag
        id: parse-tag
        run: |
          echo ::set-output name=is-core-release::$(echo ${{ github.ref_name }} | grep '^v[0-9]\+\.[0-9]\+\.[0-9]\+$'|wc -l)
    outputs:
      is-prerelease: ${{ steps.parse-tag.outputs.is-core-release != '1' }}
      is-release: ${{ steps.parse-tag.outputs.is-core-release == '1' }}
  publish-pypi:
    runs-on: ubuntu-latest
    needs:
      - build
      - prepare
    if: success() && ${{ needs.prepare.outputs.is-release }}
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: dist-packages
          path: dist/
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
  github-releases:
    runs-on: ubuntu-latest
    needs:
      - build
      - prepare
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          name: dist-packages
          path: dist/
      - name: Create release on GitHub
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          body_path: .github/release-body.md
          body: |
            To know update details, please see [Changelog](https://sphinx-revealjs.readthedocs.io/en/stable/changes/) of documentation.
          draft: false
          prerelease: ${{ needs.prepare.outputs.is-prerelease }}
          files: |
            dist/${{ needs.build.outputs.package-targz }}
            dist/${{ needs.build.outputs.package-wheel }}
